*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--backgroung_color);
  height: auto;
}

:root {
  --primary_color: #090a20;
  --backgroung_color: #e3e4f7;
  --grid_backgroundcolor:  #fefefe;
  --primary_button: #e5e1a4;
  --secondary_button: #cfd2f2;
  --accent: #cfc754;
}

@font-face {
  font-family: pacifico;
  src: url(pacifico_font/Pacifico-Regular.ttf);
}

@font-face {
  font-family: Monomaniac;
  src: url(MonomaniacOne-Regular/MonomaniacOne-Regular.ttf);
}

.header {
  color: var(--primary_color);
  border: 1px solid black; /*For debugging*/
  text-align: center;
  font-size: 60px;
  padding: 30px 0px;
  font-family: pacifico;
  text-shadow: 5px 5px var(--accent);
}

.para{
  color: var(--accent);
  text-shadow: none;
  font-size: 48px;
  font-family: Monomaniac;
}

.main{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 750px;
  height: 750px;
  border: solid 2px var(--accent);
  border-radius: 7px;
  background-color: var(--grid_backgroundcolor);
}

.grid {
  border: 0.5px solid var(--primary_color);
  border-radius: 4.5px;
}