*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--backgroung_color);
  height: auto;
}

:root {
  --primary_color: #090a20;
  --backgroung_color: #e3e4f7;
  --grid_backgroundcolor:  #fefefe;
  --primary_button: #e5e1a4;
  --secondary_button: #cfd2f2;
  --accent: #cfc754;
}

@font-face {
  font-family: pacifico;
  src: url(pacifico_font/Pacifico-Regular.ttf);
}

@font-face {
  font-family: Monomaniac;
  src: url(MonomaniacOne-Regular/MonomaniacOne-Regular.ttf);
}

.header {
  color: var(--primary_color);
  text-align: center;
  font-size: 60px;
  padding: 30px 0px;
  font-family: pacifico;
  text-shadow: 5px 5px var(--accent);
}

.para{
  color: var(--accent);
  text-shadow: none;
  font-size: 48px;
  font-family: Monomaniac;
}

.main{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 750px;
  height: 750px;
  border: solid 2px var(--accent);
  border-radius: 7px;
  background-color: var(--grid_backgroundcolor);
}

.container2 {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  width: 170px;
  height: 250px;
  background-color: var(--accent);
  border: 2px solid var(--accent);
}

.A {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.B {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.ctrl,
.md {
  text-align: center;
  font-size: 24px;
  font-family: monomaniac;
  color: var(--primary_color);
  margin-top: -20px;
}

.md {
  margin-top: 0px;
}

.gridSize {
  text-align: center;
  font-size: 20px;
  font-family: monomaniac;
  color: var(--primary_color);
  margin-bottom: 10px;
}

.input[type='color'] {
  align-self: center;
  margin-top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.input[type='color']:hover {
  transform: scale(1.05);
}

.input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

.input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0px;
}

.input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
}

.buttons {
  padding: 3px 24px;
  font-size: 18px;
  font-family: monomaniac;
  border-radius: 4px;
  cursor: pointer;
}

.buttons:hover {
  background-color: var(--secondary_button);
}

.btnGrd,
.eraser,
.opac,
.rainbow,
.input {
  margin-bottom: 20px;
}

.grid {
  border: 0.5px solid var(--primary_color);
  border-radius: 4.5px;
}

.grid.active {
  background-color: var(--primary_color);
}

.footer{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: pacifico;
}